<div class="container">

  <div class="order mx-auto my-5" *ngIf="showForm">
    <h2 class="my-5 h3 text-center">Сделать заказ</h2>
    <form [formGroup]="orderForm" novalidate>
      <div class="row g-3 col-lg-6 mx-auto">
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <label class="d-flex flex-column">
            Имя
            <input class="p-2 mt-1 border border-secondary-subtle rounded-1"
                   type="text" id="name"
                   formControlName="name">
          </label>
          <div
            *ngIf="orderForm.get('name')?.invalid && (orderForm.get('name')?.dirty || orderForm.get('name')?.touched)">
            <div class="text-danger" *ngIf="orderForm.get('name')?.errors?.['required']">
              Укажите имя.
            </div>
            <div class="text-danger" *ngIf="orderForm.get('name')?.errors?.['pattern']">
              Имя указано некорректно.
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <label class="d-flex flex-column">Фамилия
            <input class="p-2 mt-1 border border-secondary-subtle rounded-1" type="text" id="lastname"
                   formControlName="last_name">
          </label>
          <div
            *ngIf="orderForm.get('last_name')?.invalid && (orderForm.get('last_name')?.dirty || orderForm.get('last_name')?.touched)">
            <div class="text-danger" *ngIf="orderForm.get('last_name')?.errors?.['required']">
              Укажите фамилию.
            </div>
            <div class="text-danger" *ngIf="orderForm.get('last_name')?.errors?.['pattern']">
              Фамилия указана некорректно.
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <label class="d-flex flex-column">Телефон
            <input class="p-2 mt-1 border border-secondary-subtle rounded-1" type="text" id="phone"
                   formControlName="phone">
          </label>
          <div
            *ngIf="orderForm.get('phone')?.invalid && (orderForm.get('phone')?.dirty || orderForm.get('phone')?.touched)">
            <div class="text-danger" *ngIf="orderForm.get('phone')?.errors?.['required']">
              Укажите телефон.
            </div>
            <div class="text-danger" *ngIf="orderForm.get('phone')?.errors?.['pattern']">
              Некорректный телефон.
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <label class="d-flex flex-column">Страна
            <input class="p-2 mt-1 border border-secondary-subtle rounded-1" type="text" id="country"
                   formControlName="country">
          </label>
          <div
            *ngIf="orderForm.get('country')?.invalid && (orderForm.get('country')?.dirty || orderForm.get('country')?.touched)">
            <div class="text-danger" *ngIf="orderForm.get('country')?.errors?.['required']">
              Укажите страну.
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <label class="d-flex flex-column">Индекс
            <input class="p-2 mt-1 border border-secondary-subtle rounded-1" type="text" id="index"
                   formControlName="zip">
          </label>
          <div *ngIf="orderForm.get('zip')?.invalid && (orderForm.get('zip')?.dirty || orderForm.get('zip')?.touched)">
            <div class="text-danger" *ngIf="orderForm.get('zip')?.errors?.['required']">
              Укажите индекс.
            </div>
            <div class="text-danger" *ngIf="orderForm.get('zip')?.errors?.['pattern']">
              Некорректный индекс.
            </div>
          </div>
        </div>
        <div class="col-12">
          <label class="d-flex flex-column">Адрес
            <input class="p-2 mt-1 border border-secondary-subtle rounded-1" type="text" id="address"
                   formControlName="address">
          </label>
          <div
            *ngIf="orderForm.get('address')?.invalid && (orderForm.get('address')?.dirty || orderForm.get('address')?.touched)">
            <div class="text-danger" *ngIf="orderForm.get('address')?.errors?.['required']">
              Укажите адрес.
            </div>
            <div class="text-danger" *ngIf="orderForm.get('address')?.errors?.['pattern']">
              Адрес некорректный.
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <label class="d-flex flex-column">Товар
            <input class="p-2 mt-1 border border-secondary-subtle rounded-1" type="text" id="product"
                   formControlName="product">
          </label>
          <div
            *ngIf="orderForm.get('product')?.invalid && (orderForm.get('product')?.dirty || orderForm.get('product')?.touched)">
            <div class="text-danger" *ngIf="orderForm.get('product')?.errors?.['required']">
              Выберите продукт.
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <label class="d-flex flex-column">Комментарий к заказу
            <input class="p-2 mt-1 border border-secondary-subtle rounded-1" type="text" id="comment"
                   formControlName="comment">
          </label>
        </div>
        <div class="d-flex align-items-center">
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <button class="order-btn btn btn-primary w-100 py-2" [disabled]="loading" (click)="createOrder()">Отправить</button>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12 mx-4">
            <div class="text-danger" *ngIf="!successOrder">Произошла ошибка. Попробуйте еще раз.</div>
          </div>
        </div>
      </div>
    </form>

  </div>
  <div class="order-message fs-2 my-5 mx-auto text-center" *ngIf="!showForm">
    Спасибо за заказ!
  </div>
</div>
