
.ui-state-default {
  border: none;
  border-radius: 10px;
  background: linear-gradient(0.00deg, rgb(7, 107, 255),rgb(0, 123, 255) 100%);
}

.ui-accordion .ui-accordion-content {
  height: auto;
}

.ui-accordion .ui-accordion-header {
  padding: 25px 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.ui-state-active .ui-icon {
  background: url("/images/arrow-up.svg") center no-repeat;
  width: 30px;
}

.ui-icon-triangle-1-e {
  background: url("/images/arrow-down.svg") center no-repeat;
  width: 30px;
}

.ui-state-hover .ui-icon {
  background: url("/images/arrow-down.svg") center no-repeat;
}


