<nav class="navbar navbar-expand-lg bg-body-tertiary mb-5">
  <div class="container-fluid">
    <a class="navbar-brand"  [routerLink]="''" >Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a [routerLink]="''" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" class="nav-link" aria-current="page">Главная</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="'/products'" routerLinkActive="active-link" class="nav-link" aria-disabled="true">Каталог</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Поиск чая" aria-label="Search" name="search" [(ngModel)]="search">
        <button class="btn btn-outline-primary" (click)="onSearch()">Найти</button>
        <button *ngIf="search" class="btn btn-outline-secondary mx-2" (click)="clearSearch()">Сброс</button>
      </form>
    </div>
  </div>
</nav>
